In [1]:
!pip install pyodbc pandas scipy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pyodbc
import pandas as pd
import numpy as np
import math
from scipy import stats
import matplotlib.pyplot as plt

In [9]:
# Путь к БД:
database_path = r'C:\Users\Dn103-User07.STUD\Desktop\Start\database.accdb'

# Настройка подключения через ODBC драйвер
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    rf'DBQ={database_path};'
)

try:
    #Создаем соединение
    conn = pyodbc.connect(conn_str)
    print('Подключение установленно успешно')

except pyodbc.Error as e:
     print("Ошибка при подключении к базе данных или выполнении запроса:", e)

Подключение установленно успешно

ЗАДАНИЕ №56 CREATE TABLE

In [47]:
try:
    # Подключение к базе данных
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Выполнение SQL-запроса создание таблицы
    query = """
    CREATE TABLE tbUsers2 (
    UserID AUTOINCREMENT PRIMARY KEY, 
    FirstName VARCHAR(20),
    LastName VARCHAR(20),
    Email VARCHAR(30) UNIQUE);
    """
    # Выполнение SQL запроса 
    cursor.execute(query)
    conn.commit()  
    # Фиксируем изменения в базе данных
    print("Таблица tbUsers2 успешно создана и заполнена.")


except pyodbc.Error as db_err:
    print(f"Ошибка при выполнении SQL-запроса: {db_err}")
except ValueError as ve:
    print(f"Ошибка: {ve}")
except Exception as e:
    print(f"Произошла ошибка: {e}")
finally:
    if cursor: 
    # Закрытие соединения
        cursor.close()
    if conn: 
        conn.close()

Таблица tbUsers2 успешно создана и заполнена.

ЗАДАНИЕ №31 COUNT

In [52]:
try:
    # Подключение к базе данных
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Выполнение SQL-запроса добавления новых данных
    query = """
    SELECT profile ,
    COUNT(teacher)
    FROM tbClass
    GROUP BY profile;
    """
    # Выполнение SQL запроса 
    cursor.execute(query)
    conn.commit()  
    # Фиксируем изменения в базе данных
    print("Таблица tbClass изменилась.")
    
    # Чтение данных из таблицы tbClass
    query_select = "SELECT * FROM tbClass"
    df_3 = pd.read_sql(query_select, conn)
    print("\nДанные из таблицы tbClass:")
    print(df_3)

except pyodbc.Error as db_err:
    print(f"Ошибка при выполнении SQL-запроса: {db_err}")
except ValueError as ve:
    print(f"Ошибка: {ve}")
except Exception as e:
    print(f"Произошла ошибка: {e}")
finally:
    if cursor: 
    # Закрытие соединения
        cursor.close()
    if conn: 
        conn.close()

Таблица tbClass изменилась.

Данные из таблицы tbClass:
    ID_Grade ID_Class    Teacher           Profile
0          0        А   Ерр А.К.           ромашки
1          0        Б   Ель Д.О.           ромашки
2          0        В   Есс В.Э.           зайчики
3          0        Г    Ец Ф.А.             ужики
4          1        А  Досс А.А.           ромашки
..       ...      ...        ...               ...
92        11        Т       у818  общегуманитарный
93        11        У       у819           история
94        11        Ф       у820  общегуманитарный
95        11        Х       у831        технологии
96        11        Ц       у840          солнышки

[97 rows x 4 columns]

C:\Users\Dn103-User07.STUD\AppData\Local\Temp\ipykernel_24396\195051769.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3 = pd.read_sql(query_select, conn)

Задание 51 SELECT... INTO

In [65]:
try:
    # Подключение к базе данных
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Выполнение SQL-запроса создание таблицы
    query = """
    SELECT tbPerson.SName, tbPerson.FName, tbPerson.Occupation, tbPerson.Score
    INTO tbBest1
    FROM tbPerson
    WHERE tbPerson.Score > 50;
    """
    # Выполнение SQL запроса 
    cursor.execute(query)
    conn.commit()  
    # Фиксируем изменения в базе данных
    print("Таблица tbBest1 успешно создана и заполнена.")


except pyodbc.Error as db_err:
    print(f"Ошибка при выполнении SQL-запроса: {db_err}")
except ValueError as ve:
    print(f"Ошибка: {ve}")
except Exception as e:
    print(f"Произошла ошибка: {e}")
finally:
    if cursor: 
    # Закрытие соединения
        cursor.close()
    if conn: 
        conn.close()

Таблица tbBest1 успешно создана и заполнена.